{% extends "CPaintDefaultBundle::layout.html.twig" %}
{% block content %}
<div class="container-fluid">
    <h1><a href="{{ path('draw_index') }}" title="Back to drawing list"><i class="glyphicon glyphicon-chevron-left"></i></a>Draw: #{{ drawing.id }}</h1>
    <div class="edit-bitmap">
        {% for k, pixel in pixels %}
        {% if k % drawing.width == 0 %}<div class="clearfix"></div>{% endif %}
        {% if pixel %}
        <div class="pixel" style="background-color:#{{ pixel}}">&nbsp;</div>
        {% else %}
        <a href="#" data-toggle="modal" data-target="#colorsModal" class="pixel empty-pixel" data-pos="{{ k }}">&nbsp;</a>
        {% endif %}
        {% endfor %}
        <div class="clearfix"></div>
    </div>
    <div class="bitmap col-md-6">
        <img src="{{ asset('bundles/cpaintdefault/images/empty.png') }}" bitmap-url="{{ path('gallery_bitmap', {id:drawing.id}) }}" alt="" />
    </div>
    <div class="bitmap col-md-6">
        <h3>Colors</h3>
        <ul>
            {% for id, color in colors %}
            <li style="color:#{{ color }}">{{ id }}: #{{ color }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="modal fade" id="colorsModal" tabindex="-1" role="dialog" aria-labelledby="colorsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="colorsModalLabel">Select a color for this pixel</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="color-map col-md-9">
                    {% for k, pixel in rgbColors %}
                    {% if k % 16 == 0 %}<div class="clearfix"></div>{% endif %}
                        <{% if not pixel %}div{% else %}a href="#"{% endif %} class="pixel color" data-id="{{ k }}" style="background-color:#{{ pixel}}">&nbsp;</{% if not pixel %}div{% else %}a{% endif %}>
                    {% endfor %}
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-3">
                        <h5>Selected color</h5>
                        <div class="selected-color"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <form action="{{ path('draw_add_pixel', {id:drawing.id}) }}" method="POST">
                    <input type="hidden" name="color" />
                    <input type="hidden" name="position" />
                    
                    <a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-primary">Choose color</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
