{% extends "CPaintDefaultBundle::layout.html.twig" %}
{% block content %}
<div class="container-fluid">
    <h1>New drawing</h1>
    <form action="{{ path('draw_new') }}" method="POST">
        <div class="form-group form-managers">            
            {{ form_label(form.width) }}
            {% for choices in form.width.vars.form.children %}
            <div class="checkbox">
                <label>
                    {{ form_widget(choices) }} {% if choices.vars.label is defined %}{{ choices.vars.label|trans }}{% else %}{{ choices.vars.value|capitalize|trans }}{% endif %}
                </label>
            </div>
            {% endfor %}
        </div>
        {{ form_rest(form) }}
        <div class="form-group">
            <button type="submit" class="btn btn-default">Create drawing</button>
        </div>
    </form>
</div>
{% endblock %}
