{% extends "CPaintDefaultBundle::layout.html.twig" %}
{% block title %}cPaint - Gallery{% endblock title %}
{% block content %}
<div class="container-fluid">
    <h1>
        <a href="{{ path('homepage') }}"><img class="logo" src="{{ asset('bundles/cpaintdefault/images/logo.png') }}" alt="cPaint" /></a>
        <small>Gallery</small>
    </h1>
    {% for drawing in drawings %}
    <a class="drawing col-xs-6 col-sm-4 col-md-3 col-lg-3" href="{{ path('drawing_show', {slug:drawing.titleCanonical}) }}">
        <img src="{{ asset('bundles/cpaintdefault/images/empty.png') }}" image-url="{{ path('gallery_drawing_width', {id:drawing.id, width:128}) }}" alt="" />
        <strong><i class="icon {% if drawing.isLocked %}icon-locked{% else %}icon-unlocked{% endif %}"></i> {{ drawing.title }}</strong>
    </a>
    {% endfor %}
    <div class="clearfix"></div>
    <div class="navigation">
    {{ knp_pagination_render(drawings) }}
    </div>
</div>
{% endblock %}
