{% if drawing.isLocked %}
{% set editableClass = "pixel" %}
{% else %}
{% set editableClass = "pixel empty-pixel" %}
{% endif %}
<div id="drawing-container" class="row">
    <div class="col-md-9">
        <div id="drawing" class="edit-bitmap" drawing-width="{{ drawing.width }}" drawing-height="{{ drawing.height }}">
            <div class="clearfix line">
            {% for k, pixel in pixels %}
                {% if k % drawing.width == 0 and not loop.first %}</div><div class="clearfix line">{% endif %}
                {% if pixel %}
                <div class="pixel" style="border-color:#{{ rgbColors[currentColor] }}; background-color:#{{ pixel}}">&nbsp;</div>
                {% else %}
                <div class="{{ editableClass }}" style="border-color:#{{ rgbColors[currentColor] }}" data-pos="{{ k }}">&nbsp;</div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="colors col-md-3">
        {% for k, pixel in rgbColors %}
            <a href="#" class="pixel color{% if currentColor == k %} selected{% endif %}" data-id="{{ k }}" style="background-color:#{{ pixel }}">&nbsp;</a>
        {% endfor %}
    </div>
</div>
