<div id="drawing-container" class="row">
    <div class="col-md-9">
        <div id="drawing" class="edit-bitmap" drawing-width="{{ drawing.width }}" drawing-height="{{ drawing.height }}" style="border-color:#{{ rgbColors[currentColor] }}">
            {% for k, pixel in pixels %}
                {% if k % drawing.width == 0 %}<div class="clearfix"></div>{% endif %}
                {% if pixel %}
                <div class="pixel" style="background-color:#{{ pixel}}">&nbsp;</div>
                {% else %}
                <a href="#" data-toggle="modal" data-target="#colorsModal" class="pixel empty-pixel" data-pos="{{ k }}">&nbsp;</a>
                {% endif %}
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="colors col-md-3">
        {% for k, pixel in rgbColors %}
            <a href="#" class="pixel color{% if currentColor == k %} selected-color{% endif %}" data-id="{{ k }}" style="background-color:#{{ pixel }}">&nbsp;</a>
        {% endfor %}
    </div>
</div>
