{% extends "CPaintDefaultBundle::layout.html.twig" %}
{% block title %}cPixel Arts - {{ drawing.title }}{% endblock title %}
{% block image %}{{ url('gallery_drawing_width', {slug:drawing.titleCanonical, width:320, ext:"png"}) }}{% endblock %}
{% block url %}{{ url('drawing_show', {slug:drawing.titleCanonical}) }}{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1>
        <a href="{{ path('homepage') }}"><img class="logo" src="{{ asset('bundles/cpaintdefault/images/logo.png') }}" alt="cPixel Arts" /></a>
        <small>
            {% if not drawing.isLocked %}
            <a class="lock-it" href="{{ path('drawing_lock', {id:drawing.id}) }}" title="Lock it: so nobody else can edit it">
                <img class="lockpad" src="{{ asset('bundles/cpaintdefault/images/locked.gif') }}" alt="Locked" />
            </a>
            {% endif %}
            {{ drawing.title }}
            {% if drawing.title == "#" ~ drawing.id %}
            <a class="name-it-link" href="#"><em>Name it</em></a>
            <form class="name-it-form hidden" method="POST" action="{{ path('drawing_set_title', {id:drawing.id}) }}">
                <input type="text" name="title" placeholder="Name this drawing" />
                <button type="submit" class="btn btn-default">Go</button>
            </form>
            {% endif %}
            {% if not drawing.isLocked %}
            <span class="separator">·</span>
            <a href="{{ block('image') }}" target="_blank"><em>View image</em></a>
            {% endif %}
        </small>
    </h1>
    <div class="sharing">
        <div class="facebook fb-share-button" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="cPixelArts">Tweet</a>
    </div>
    {% if drawing.isLocked %}
    <img class="pixelArt" src="{{ path('gallery_drawing_width', {slug:drawing.titleCanonical, width:512}) }}" alt="{{ drawing.title }}" />
    {% else %}
    {% include "CPaintDrawingBundle:Drawing:_drawing.html.twig" %}
    <form id="addPixelForm" action="{{ path('post_drawing_pixels', {id:drawing.id}) }}" method="POST" reload="false">
        <input type="hidden" name="color" value="{{ currentColor }}"/>
        <input type="hidden" name="position" value="-1" />
    </form>
    {% endif %}
</div>
{% endblock %}
