{% extends "CPaintDefaultBundle::layout.html.twig" %}
{% block content %}
<div class="container-fluid">
    <h1>
        <a href="{{ path('homepage') }}"><img class="logo" src="{{ asset('bundles/cpaintdefault/images/logo.png') }}" alt="cPaint" /></a>
        <small>The first collaborative <strong>Pixel Art</strong> app</small>
    </h1>
    {% include "CPaintDrawingBundle:Drawing:_drawing.html.twig" %}
    <form id="addPixelForm" action="{{ path('drawing_create') }}" method="POST" reload="true">
        <input type="hidden" name="width" value="{{ drawing.width }}" />
        <input type="hidden" name="height" value="{{ drawing.height }}" />
        <input type="hidden" name="color" value="{{ currentColor }}"/>
        <input type="hidden" name="position" value="-1" />
    </form>
</div>
{% endblock content %}
